<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Dig | Pipeline</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset-sm="3">
          <ion-list>
            <ion-item *ngFor="let pipeline of pipelines">
              <ion-item>
                <ion-label>{{pipeline.pipelineName}}
                  <ion-icon  name="egg" size="small" [color]="pipeline.activePipeline ? 'success' : 'danger' "></ion-icon>
                </ion-label>
              </ion-item>
                  <ion-toggle slot="end" color="success"  [checked]="pipeline.activePipeline" (click)="toggleClicked($event, pipeline)"></ion-toggle>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  