<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create Client</ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" fill="outline"  (click)="closeModal()">
          Cancel
          <ion-icon name="close-circle" class="ion-margin-start"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
<form #createClient="ngForm" (ngSubmit)="submitClient(createClient.form)" class="ion-padding ion-margin" style="margin-top: 1vh;" >
  <ion-list>
    <ion-item class="ion-margin">
      <ion-label position="floating">Name</ion-label>
      <ion-input name="clientName" ngModel #nameField="ngModel" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin">
      <ion-label>Status</ion-label>
      <ion-select (ionChange)="selectOption($event.target.value)"  name="clientStatus"  okText="Okay" cancelText="Dismiss">
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="inactive">Inactive</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button class="ion-margin" type="submit" expand="block" [disabled]="!createClient.valid" class="inputField">Create</ion-button>
  </ion-list>
  
  </form>
</ion-content>