<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dig | Facility</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset-sm="3">
        <ion-list>
          <ion-item *ngFor="let facility of facilities">
            <ion-item>
              <ion-label>{{facility.facilityName}}
                <ion-icon  name="egg" size="small" [color]="facility.activeFacility ? 'success' : 'danger' "></ion-icon>
              </ion-label>
            </ion-item>
                <ion-toggle slot="end" color="success" [checked]="facility.activeFacility" (click)="toggleClicked($event, facility)"></ion-toggle>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
